/* Yellow: #ffcc66 */
/* Green: #669933 */
/* White: #ffffff */

@font-face {
	font-family: 'Raleway-Medium';
	src: url('fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
	font-family: 'Raleway-Thin';
	src: url('fonts/Raleway/Raleway-Thin.ttf');
}

@font-face {
	font-family: 'Raleway-SemiBold';
	src: url('fonts/Raleway/Raleway-SemiBold.ttf');
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
	font-family: Raleway-Medium;
	margin: 0;
}

a {
		text-decoration: none;
}

/* SPLASH PAGE TOP */

#splash {
	background-image: url("images/sloth-1879999.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 800px;
}

header {
	background-color: #669933;
	height: 100px;
}

#logo {
	width: 23%;
	padding: 5px;
	margin-left: 20px;
}

nav {
	float: right;
	height: 50px;
	margin: 2%;
}

nav a {
	color: #ffcc66;
	padding: 15px;
	font-size: 1.25em;
	margin: 10px;
}

#splashtitle {
	margin-top: 5%;
}

#nature, #chillest, #pet {
	color: white;
	font-size: 8vw;
	font-family: Raleway-Thin;
}

#nature {
	margin-left: 5%;
}
#chillest {
	margin-left: 15%;
}
#pet {
	margin-left: 25%;
}

.callout {
	background-color: #669933;
	opacity: 0.9;
	margin-left: 65%;
	width: 20%;
	padding: 10px;
	text-align: center;
	height: 60px;
}

.callout a{
	color: #ffffff;
    font-size: 1.5vw;
    font-family: Raleway-SemiBold;
    line-height: 40px;
}

#search_icon {
	width: 8%;
	vertical-align: middle;
}

/* END OF SPLASH */

h1 {
	font-family: Raleway-Thin;
	text-align: center;
	font-size: 2.5em;
	padding: 10px;
}

.text {
	text-align: justify;
	margin: 40px 80px;
}

/* ABOUT */
#about h1 {
	color: #669933;
}
/* END ABOUT */

/* PROCESS */
#process {
	color: #ffffff;
}

.processimage {
	width: 325px;
    height: 200px;
	vertical-align: middle;
	margin: 0px 40px 40px 40px;
}

.arrow {
	width: 50px;
	vertical-align: middle;
	margin-bottom: 40px;
}

#process1 {
	background-color: #669933;
}

.process_container {
	margin: 0px auto 0px auto;
	text-align: center;
}

#process2 {
	background-image: url("images/rainforest.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

#process3 {
	background-color: #669933;
	opacity: 0.8;
}

h2 {
	font-family: Raleway-SemiBold;
	color: #ffcc66;
}

.process_description {
	width: 325px;
	margin: 40px 70px;
	display: inline-block;
}

.process_description p {
	margin: 0px;
}
/* END PROCESS */

/* WASTE */
#bulldozer {
	width: 30%;
	float: left;
}

#waste_text {
	width: 65%;
	float: right;
	margin-top: 25px;
}

#waste h1 {
	color: #669933;
	text-align: left;
}

#waste p {
	margin: 0px 80px 0px 0px;
	padding: 10px;
}

#enroll {
	width: 25%;
	margin: 10px;
	opacity: 1;
	height: auto;
}
/* END WASTE */

/* FOOTER */
footer {
	background-color: #669933;
	clear: both;
	color: #ffcc66;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

/* END FOOTER */

@media(max-width: 1200px) {
	#splash {
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}
	
}